@{
    ViewData["Title"] = "About";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>
<p>Use this area to provide additional information.</p>

<p>Autor: @ViewData["Autor"]</p>
<span>
    @ViewData["Email"]
</span>
<address>
    <strong>Mais informação: </strong><a href="https://github.com/marceloatp/SalesWebMVC">GitHub</a>
    
</address>
